 

 
 <h3>Broadcasts  <button class="btn" ng-click="reload()">
        <span class="glyphicon glyphicon-refresh"></span>
 </button></h3>
 
 
<table class="table table-striped">
  <thead><tr>
    <th>Status</th>
    <th>Name</th>
    <th>Sent</th>
	<th>Created</th>
	<th>Action</th>
  </tr></thead>
  <tbody><tr ng-repeat="broadcast in broadcasts">
    <td>
	<div class="progress">
		<div class="progress-bar" role="progressbar" aria-valuenow="{{ broadcast.status }}" aria-valuemin="0" aria-valuemax="100" style="width: {{ broadcast.status }}%;">
		{{ broadcast.status }}%
		</div>
	</div>
	</td>
    <td>{{ broadcast.name }}</td>
	<td>{{ broadcast.sent }}</td>
	<td>{{ broadcast.created }}</td>
	<td>
      <button class="btn" ng-click="editBroadcast(broadcast.id)">
        <span class="glyphicon glyphicon-pencil"></span>
      </button>
	  <button class="btn" >
        <span class="glyphicon glyphicon-user"></span>
      </button>
    </td>
  </tr></tbody>
</table> 