<div ng-show="listVisible">

<h3>Medias  <button class="btn" ng-click="reload()">
	<span ng-class="stylereload"></span>
</button></h3>
 
<table class="table table-striped">
  <thead><tr>
    <th>Name</th>
    <th>Type</th>
    <th>Tags</th>
	<th>Validity</th>
	<th class="text-right"><span  class="label label-default">{{medias.length}}</span></th>
  </tr></thead>
  <tbody><tr ng-repeat="media in medias">
    <td>
			{{ media.name }}
	</td>
    <td>
			{{ media.type }}
    </td>
	<td>{{ media.tags }}</td>
	<td>{{ media.validity }}</td>
	<td  class="col-md-6 text-right">
      <button class="btn">
        <span class="glyphicon glyphicon-pencil"></span>
      </button>
	  <button class="btn" ng-disabled="true">
        <span class="glyphicon glyphicon-user"></span>
      </button>
    </td>
  </tr></tbody>
</table> 